<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>obCViewControllerPassingData.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EF0B994E1D8C6B7C006DEAE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF0B996A1D8C6B7C006DEAE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EF0B99751D8C6B7C006DEAE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
